
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OpretStudent</title>
</head>
<body>
    <div>

        <input type="text" id="Navn" name="Navn" placeholder="Navn" />
    </div>
    <div>

        <input type="text" id="Uddanelse" name="Uddanelse" placeholder="Uddanelse" />
    </div>
    <div>

        <input type="text" id="Semester" name="Semester" placeholder="Semester" />
    </div>
</body>
</html>
